// COLORS
$primary-color: #eb2222e5;
$secondary-color: #0e6188de;
$third-color: #4f5a62;
$fourth-color: #043a79bd;
$fifth-color:#64626285;
$sixth-color: #45bbf1de;
$white-color: #fff;

$dark-grey: #b1a4a4bb;

$dark-blue-text: #0e3753; // For Headings

$black-color: black;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
